@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.filmstrip {
  .documentTile {
    background-color: transparent;
    outline: transparent;
    position: relative;
  }

}
